@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes shake-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes swing-text {
  0% {
    bottom: 0;
  }
  25% {
    bottom: calc(100% - 70px);
  }
  50% {
    bottom: 0;
  }
  75% {
    bottom: calc(100% - 70px);
  }
  100% {
    bottom: 0;
  }
}
@keyframes button-animation {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header .container {
  height: 80px;
  margin-bottom: 0;
  align-items: center;
}
.header .container .nav-bar {
  justify-content: space-around;
  align-items: center;
}
.header .container .nav-bar img {
  margin-right: 93px;
}
.header .container .nav-bar .nav-bar-lists {
  gap: 315px;
  justify-content: center;
}
.header .container .nav-bar .nav-bar-lists .list-pages {
  gap: 53px;
}
.header .container .nav-bar .nav-bar-lists .list-pages li {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
}
.header .container .nav-bar .nav-bar-lists .list-pages li:hover {
  color: rgb(33, 150, 243);
}
.header .container .nav-bar .nav-bar-lists .list-pages .active {
  color: rgb(33, 150, 243);
  cursor: pointer;
  position: relative;
}
.header .container .nav-bar .nav-bar-lists .list-pages .active:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  top: 130%;
  animation: shake-bottom 1s both;
}
.header .container .nav-bar .nav-bar-lists .list-contacts {
  gap: 40px;
}
.header .container .nav-bar .nav-bar-lists .list-contacts li {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
}
.header .container .nav-bar .nav-bar-lists .list-contacts li:hover {
  color: rgb(33, 150, 243);
  cursor: pointer;
}

.active-longer {
  color: rgb(33, 150, 243);
  cursor: pointer;
  position: relative;
}
.active-longer:before {
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  top: 130%;
  left: -5%;
  animation: shake-bottom 1s both;
}

.section-hero {
  height: 600px;
  background: url(/img/section-hero-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-hero .container {
  height: 600px;
  padding-top: 200px;
  margin-top: 0;
}
.section-hero .container h1 {
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
}
.section-hero .container .button-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.section-hero .container .button-wrapper .main-button {
  min-width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  animation: bounce-top 1s both;
}
.section-hero .container .button-wrapper .main-button:hover {
  cursor: pointer;
  background-color: rgba(33, 149, 243, 0.262);
  transition: 0.3s;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}

.btn-close {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  z-index: 100000000;
}

.form-container {
  width: 528px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container button:active {
  scale: 0.95;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-container .form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}
.form-container .form .form-group input {
  width: 448px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}
.form-container .form .form-group input::-moz-placeholder {
  opacity: 0.5;
}
.form-container .form .form-group input::placeholder {
  opacity: 0.5;
}
.form-container .form .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}
.form-container .form .form-group textarea {
  width: 448px;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}
.form-container .form .form-group textarea::-moz-placeholder {
  opacity: 0.5;
}
.form-container .form .form-group textarea::placeholder {
  opacity: 0.5;
}
.form-container .form .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}
.form-container .form .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
.form-container .form .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.about-us {
  margin-top: 94px;
}
.about-us .container .our-adventages .our-adventages-list {
  gap: 30px;
}
.about-us .container .our-adventages .our-adventages-list .our-adventages-list-item {
  width: 270px;
}
.about-us .container .our-adventages .our-adventages-list .our-adventages-list-item .our-adventages-list-inner .svg-item .svg {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgb(245, 244, 250);
}
.about-us .container .our-adventages .our-adventages-list .our-adventages-list-item .our-adventages-list-inner .svg-item .svg svg {
  width: 65.32px;
  height: 70px;
}
.about-us .container .our-adventages .our-adventages-list .our-adventages-list-item .our-adventages-list-inner li h3 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 30px;
}
.about-us .container .our-adventages .our-adventages-list .our-adventages-list-item .our-adventages-list-inner li p {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  margin-top: 10px;
}

.what-we-do {
  margin-top: 94px;
}
.what-we-do .container h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}
.what-we-do .container .what-we-do-list {
  margin-top: 50px;
  gap: 30px;
}
.what-we-do .container .what-we-do-list #what-we-do-1 {
  background: url(/img/coding.png);
}
.what-we-do .container .what-we-do-list #what-we-do-2 {
  background: url(/img/mobile-app.png);
}
.what-we-do .container .what-we-do-list #what-we-do-3 {
  background: url(/img/colors.png);
}
.what-we-do .container .what-we-do-list #what-we-do-1,
.what-we-do .container .what-we-do-list #what-we-do-2,
.what-we-do .container .what-we-do-list #what-we-do-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}
.what-we-do .container .what-we-do-list .what-we-do-list-item {
  width: 370px;
  height: 294px;
  outline: 2px solid red;
  position: relative;
}
.what-we-do .container .what-we-do-list .what-we-do-list-item:hover .down-text {
  animation-name: swing-text;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: 0.5;
}
.what-we-do .container .what-we-do-list .what-we-do-list-item .down-text {
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}
.what-we-do .container .what-we-do-list .what-we-do-list-item .down-text h4 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 27px;
}

.section-our-team {
  padding-top: 94px;
  background: rgb(245, 244, 250);
  height: 708px;
}
.section-our-team .container h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 50px;
}
.section-our-team .container .our-team-list {
  gap: 30px;
}
.section-our-team .container .our-team-list .our-team-list-item {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
.section-our-team .container .our-team-list .our-team-list-item img {
  width: 270px;
  height: 260px;
}
.section-our-team .container .our-team-list .our-team-list-item h3 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 30px;
}
.section-our-team .container .our-team-list .our-team-list-item p {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 10px;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks {
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks #net-1 {
  background: url(/img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks #net-2 {
  background: url(/img/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks #net-3 {
  background: url(/img/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
.section-our-team .container .our-team-list .our-team-list-item .list-social-networks #net-4 {
  background: url(/img/linkedin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}

.section-regular-customers {
  margin-top: 94px;
}
.section-regular-customers .container h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}
.section-regular-customers .container .regular-customers-list {
  justify-content: space-between;
  margin-top: 50px;
}
.section-regular-customers .container .regular-customers-list .regular-customers-list-item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid rgb(117, 117, 117);
  margin-bottom: 94px;
}

footer {
  height: 252px;
  padding-top: 62px;
  background: rgb(47, 48, 58);
}
footer .container .footer-wrapper {
  justify-content: space-between;
}
footer .container .footer-wrapper .footer-left address {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  margin-top: 20px;
}
footer .container .footer-wrapper .footer-left .footer-contacts {
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
}
footer .container .footer-wrapper .footer-left .footer-contacts .footer-contacts-item {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
}
footer .container .footer-wrapper .footer-right h3 {
  padding-left: 11px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}
footer .container .footer-wrapper .footer-right .list-social-networks-footer li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
footer .container .footer-wrapper .footer-right .list-social-networks-footer #net-1 {
  background: url(/img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
footer .container .footer-wrapper .footer-right .list-social-networks-footer #net-2 {
  background: url(/img/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
footer .container .footer-wrapper .footer-right .list-social-networks-footer #net-3 {
  background: url(/img/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
footer .container .footer-wrapper .footer-right .list-social-networks-footer #net-4 {
  background: url(/img/linkedin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 20px;
}
footer .container .footer-wrapper .input-form .footer-form {
  display: flex;
}
footer .container .footer-wrapper .input-form .footer-form .form-group-footer {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
}
footer .container .footer-wrapper .input-form .footer-form input {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 358px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-weight: 800;
  font-size: 15px;
}
footer .container .footer-wrapper .input-form .footer-form input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer .container .footer-wrapper .input-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  animation: button-animation 3000ms infinite alternate backwards ease-in-out 1000ms;
  margin-top: 20px;
}
footer .container .footer-wrapper .input-form button img {
  margin-left: 10px;
}
footer .container .footer-wrapper .input-form button .tg {
  transition-property: all;
  transition-delay: 400ms;
  transition-duration: 1000ms;
}
footer .container .footer-wrapper .input-form button:hover {
  cursor: pointer;
}
footer .container .footer-wrapper .input-form button:hover .tg {
  transform: rotate(360deg);
}

#net-1:hover,
#net-2:hover,
#net-3:hover,
#net-4:hover {
  cursor: pointer;
}

.buttons-list-wrapper {
  margin-top: 94px;
  justify-content: center;
  align-items: center;
}
.buttons-list-wrapper .buttons-list {
  gap: 8px;
}
.buttons-list-wrapper .buttons-list .buttons-list-item button {
  height: 38px;
  background: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
.buttons-list-wrapper .buttons-list .buttons-list-item button:hover {
  color: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
}

.card-list {
  margin-top: 50px;
  margin-bottom: 94px;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.card-list .card-list-item {
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
.card-list .card-list-item h3 {
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  color: rgb(33, 33, 33);
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
  text-align: left;
}
.card-list .card-list-item p {
  padding: 0;
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 20px;
  color: rgb(117, 117, 117);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;
}

.container {
  width: 1170px;
  outline: 2px solid black;
  margin: 0 auto;
}

.flex {
  display: flex;
}/*# sourceMappingURL=style.css.map */