.buttons-list-wrapper {
  margin-top: 94px;
  justify-content: center;
  align-items: center;
  .buttons-list {
    gap: 8px;
    .buttons-list-item {
      button {
        height: 38px;
        background: rgb(245, 244, 250);
        color: rgb(33, 33, 33);
        font-family: var(--roboto);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 3%;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
          0px 1px 2px 0px rgba(0, 0, 0, 0.08),
          0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        border: none;
        &:hover {
          color: rgb(255, 255, 255);
          background: rgb(33, 150, 243);
        }
      }
    }
  }
}
